requests
matplotlib
ultralytics
ultralytics-thop
opencv-python-headless
py-cpuinfo
mpmath
sympy
pyyaml
numpy
networkx
MarkupSafe
fsspec
filelock
jinja2
ultralytics-thop
torchvision
seaborn
tqdm
torchvision
scipy
pillow
fiftyone