<!DOCTYPE html>
<html lang="en">

<body>

<script>
  async function fetchData() {
    try {
      const token = localStorage.getItem('token')

      const response = await fetch('/img_search.html', {
        method: 'GET',
        headers: {
          'Authorization': `Bearer ${token}`
        }
      });

      if (response.ok) {
        responseBody = await response.text();
        document.body.innerHTML = responseBody;
      } else {
        window.location.href = "/login.html";
      }
    } catch (error) {
      window.location.href = "/login.html";
    }
  }

  fetchData()
  
</script>

</body>

</html>